@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1.6;
  background: url('../images/bg.png');
  text-size-adjust: 100%;
  font-weight: 500;
}

#header{
  color: #FFF;
  background-color: #111;
  text-align: center;
  font-size: 18px;
  padding: 6px;
  font-weight: 700;
}

#display{
  width: 260px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: table;
  height: 330px;
}

.display-in{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#controls{
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 12px;
  padding-right: 12px;
}

.button{
  display: block;
  background-color: #FF8000;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #FF8000;
  font-family: inherit;
  text-align: center;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 700;
  color: #FFF;
}